extends layout

block body
  form(method='POST' action='/token')
    label Email:
    input(type='text' name='email').loginField
    label Password:
    input(type='password' name='password').loginField
    button log in

    extends layout